VITE_FIREBASE_API_KEY=AIzaSyC6-mOjVjM98YSVDijlQoExpVjL7sT1dfY
VITE_FIREBASE_AUTH_DOMAIN=uttc-hackathon-a14e6.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=uttc-hackathon-a14e6
VITE_FIREBASE_STORAGE_BUCKET=uttc-hackathon-a14e6.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=493961426414
VITE_FIREBASE_APP_ID=1:493961426414:web:7323345cdc74cfc3064aff
